/* Styling for entire page */
body {
    font-family: 'Arial', 'Helvetica Neue', 
    Helvetica, sans-serif;
    background-image: url(../images/concrete_seamless.png); 
}

/* Styling for Paoge Moua teal box */
h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 250px;
    border: none;
    padding: 15px;
    margin: 0px;
    height: 90px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 30px;
    float: left;
    text-align: center;
    position: fixed;
    top: 0%;
    left: 350px;
    z-index: 5;   
}

/* Styling for Portfolio */
#portfoliotext {color:#4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 30px;
}

/* Styling for horizontal line in main content box */
hr {
    color: #dddddd; background-color: #dddddd;
    height: 3px; border: none;
}

/* Styling for personal image - WILL SET FOR MAIN CONTENT IMAGES */
img {
    float: left;
    height: 175px;
    width: 205px;
}

/* Hangman image 
.module {
    margin: 10px;
    width: 230px;
    height: 150px;
    text-align: center;
    background: url(hangman_icon.png);
    background-size: cover;
    position: relative;
}

.textimage {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
} */

#invisible {
    display: none;
}

* {
    box-sizing: border-box;
}

/* Styling for Portfolio box */
#portfolio {
    background-color:#fff; color: teal; 
    outline: 1px solid gray;
    width: 1000px; height: 700px; padding: 25px; 
    margin: 50px; box-align: center;
    position: relative;
    left: 295px;
    top: 50px;
    border: none;
}

/* 2nd part of code for About Portfolio Contact across top of page - no hyperlinks YET */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding:  0px 14px 0px 16px;
    text-decoration: none;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

li a:hover {
    background-color: #111;
}

#leftborder {
    border-left: 1px solid #cccccc;
}

/* Top & Bottom boxes across whole page */
.box1 {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 88%;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: -10;
}

.box2 {
    background-color: #4aaaa5;
    position: fixed;
    top: 93%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    z-index: -4;
}

.box3 {
    background-color: #666666;
    position: fixed;
    top: 94%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
}

/* Styling for Images */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.portfolioItem {
    position: relative;
    float: left;
}

.portfolioItem h2 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    background: #4aaaa5;
}

/* Styling for Footer */
footer {
    color: white;
    text-align: center; font-size: small;
    position: fixed;
    top: 96%;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    z-index: 5;
}

/* 640 */
@media (max-width: 640px;) {
    h1 {
        position: fixed;
        top: 0;
        width: auto;
    }
    
    #portfolio {
        background-color:#fff; color: teal; 
        outline: 1px solid gray;
        width: 1000px; height: 700px; padding: 25px; 
        margin: 50px; box-align: center;
        position: relative;
        left: 295px;
        top: 50px;
        border: none;
    }

    .box1 {
        display: none;
    }
    
    .box2 {
        background-color: #4aaaa5;
        position: fixed;
        top: 93%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 170px;
        z-index: -4;
    }
    
    .box3 {
        background-color: #666666;
        position: fixed;
        top: 94%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 60px;
        z-index: 1;
    }

    footer {
        color: white;
        text-align: center; 
        font-size: medium;
        position: fixed;
        top: 96%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        z-index: 5;
    }
}

/* 768 */
@media (max-width: 768px;) {
    h1 {
        position: fixed;
        top: 0;
        width: auto;
    }
    
    #portfolio {
        background-color:#fff; color: teal; 
        outline: 1px solid gray;
        width: 1000px; height: 700px; padding: 25px; 
        margin: 50px; box-align: center;
        position: relative;
        left: 295px;
        top: 50px;
        border: none;
    }

    .box1 {
        display: none;
    }
    
    .box2 {
        background-color: #4aaaa5;
        position: fixed;
        top: 93%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 170px;
        z-index: -4;
    }
    
    .box3 {
        background-color: #666666;
        position: fixed;
        top: 94%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 60px;
        z-index: 1;
    }

    footer {
        color: white;
        text-align: center; 
        font-size: medium;
        position: fixed;
        top: 96%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        z-index: 5;
    }
}

/* 980 */ 
@media (max-width: 980px;) {
    h1 {
        position: fixed;
        top: 0;
        width: auto;
    }
    
    #portfolio {
        background-color:#fff; color: teal; 
        outline: 1px solid gray;
        width: 1000px; height: 700px; padding: 25px; 
        margin: 50px; box-align: center;
        position: relative;
        left: 295px;
        top: 50px;
        border: none;
    }

    .box1 {
        display: none;
    }
    
    .box2 {
        background-color: #4aaaa5;
        position: fixed;
        top: 93%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 170px;
        z-index: -4;
    }
    
    .box3 {
        background-color: #666666;
        position: fixed;
        top: 94%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: 60px;
        z-index: 1;
    }

    footer {
        color: white;
        text-align: center; 
        font-size: medium;
        position: fixed;
        top: 96%;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        z-index: 5;
    }
}